<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de usuario</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="contHeader">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg"  alt="Logo mercado liebre">
                </div>
                <form class="form">
                    <input class="input" type="text" placeholder="Buscar productos, marcas y más">
                    <button class="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" width="360" alt="Banner de oferta">
    </section>
    <main>
        <section>
            <article>
                <form action="#" method="post">
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="mail" required>
                    </div>

                    <div>
                        <label for="contrasenia">Contraseña</label>
                        <input type="password" name="password" required>
                    </div>

                    <div class="submit">
                        <input type="submit" value="Enviar">
                    </div>

                </form>
            </article>
        </section>
    </main>
</body>
</html>